<header class="bg-dark text-danger my-0 py-4">
    <section class="contaner text-center">
        <h1>Les fans de tech</h1>
        <p>tout e que vouler savoir su le tech en osant le demander</p>
    </section>
</header>