{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2 class="py-5 text-center">Poser votre question sur le le forum</h2>
    <div class="w-75 m-auto">
        {{ form(form) }}
    </div>
{% endblock %}
